<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <!-- font-awesome -->
    <link href="https://fonts.googleapis.com/css?family=Baloo|Chewy" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <title>My Disney App</title>
</head>

<body>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="title text-center h2 p-3 mt-2" style="width:100%">Disneyland
                    <br><span class="lead" id="disneyTimes"></span>
                </div>
                <div class="row d-flex justify-content-center">
                    <div id="disney" class="text-center my-auto"><i class="loader fas fa-sync-alt fa-7x mt-3"></i></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row d-flex justify-content-center">
                    <div class="title text-center h2 p-3 mt-2" style="width:100%">CA Adventure
                        <br><span class="lead" id="caAdvTimes"></span>
                    </div>
                    <div id="caAdv" class="text-center my-auto"><i class="loader fas fa-sync-alt fa-7x mt-3"></i></div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery minified.  From code.jquery.com, not the Bootstrap site!! -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -getbootstrap.com -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            $.get('/Disney/Times')
                .then(function (data) {
                    var openTime = moment(data.openingTime).format('LT');
                    var closeTime = moment(data.closingTime).format('LT');

                    $("#disneyTimes").empty();
                    $("#disneyTimes").append(`${openTime} to ${closeTime}`);
                });

            $.get('/CAAdventure/Times')
                .then(function (data) {
                    var openTime = moment(data.openingTime).format('LT');
                    var closeTime = moment(data.closingTime).format('LT');

                    $("#caAdvTimes").empty();
                    $("#caAdvTimes").append(`${openTime} to ${closeTime}`);
                });



            var DisneyRides = [];
            var CAAdventureRides = [];

            getRideTimes('/DisneyRides', DisneyRides, "#disney");
            getRideTimes('/CAAdventureRides', CAAdventureRides, "#caAdv");


            function renderTiles(name, min) {
                return `                       
                            <div class = "card m-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8 border-right">
                                            <h5 class="text-center align-middle rideText">${name}</h5>
                                        </div>
                                        <div class="col-4">
                                            <h3 class="text-center align-middle minText">${min}</h3>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `

            }


            // ------------------------------------------------------------------------------
            // getRideTimes - Function that gets rides and times.  Utilizes themeparks npm.
            // ------------------------------------------------------------------------------
            function getRideTimes(route, arr, id) {
                $.get(route).then((data) => {
                    console.log(data)
                    arr.push(data)
                    $(id).empty();

                    if (data.length === 0) {
                        $(id).append('<h2 class="text-center align-middle rideText m-3 p-4 bg-dark text-light">Park is closed, sorry</h2>')
                    }
                    else {
                        for (var i = 0; i < data.length; i++) {
                            $(id).append(renderTiles(data[i].name, data[i].min));
                        }
                    }
                })
            }
        })
    </script>

</body>

</html>