.title{
    font-family: 'Baloo', cursive;
    color: rgb(248, 212, 6);
        background-color: rgba(248, 6, 6, 0.74);
        border-radius: 2rem;
    }

        


body{
    background: url('../img/walt_castle.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rideText, .minText{
    font-family: 'Chewy', cursive;
}

