.title{
    font-family: 'Baloo', cursive;
    color: rgba(253, 253, 253, 0.924);
        background-color: rgba(253, 6, 6, 0.863);
        border-radius: 2rem;
    }

    


body{
    background: url('../img/walt_castle.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rideText, .minText{
    font-family: 'Chewy', cursive;
}

.loader {
    color:rgba(24, 23, 23, 0.767);
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .card{
      background-color: rgba(255, 196, 0, 0.863);
  }
  
  